body {
    background-image: url(./img/bg_image.jpg);
    background-size: cover; /* Ensures the background image covers the screen */
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh; /* Make sure the body takes the full viewport height */
}
