body {
    background-image: url(./img/bg_image.jpg);
    background-size: cover; /* Ensures the background image covers the screen */
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh; /* Make sure the body takes the full viewport height */
}

h1{
    text-align: center;
    padding-top: 250px;
}

p{
    text-align: center;
    font-size: 1.5rem;
}

.btn{
    background-color: green;
    border: none;
    border-radius: 10px;
    margin-left: 35rem;
    padding: 1rem;
    color: white;
    font-size: 1rem;
}

.btn:hover{
    box-shadow: 8px 8px 5px rgb(160, 209, 161);
    transition: 1s;
}